body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  gap: 1em; 
}

.main-title {
  user-select: none;
}

.box {
  padding:2em 1em 3em 1em;
  /* display: none */
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
}

.box h2 {
  text-align: center;
}